{% load static %}
<!DOCTYPE html>
<!--Author: Simon Löschke-->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">



</head>
<body>
    <header>
        <nav class="bg-gray-800 p-4">
            <ul class="flex flex-row justify-center space-x-4">
                <li>
                    <a href="{%url 'webapp:index'%}" class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 text-white text-lg font-semibold shadow transition duration-300 ease-in-out">
                        Events
                    </a>
                </li>
                <li>
                    <a href="{%url 'webapp:player' %}" class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 text-white text-lg font-semibold shadow transition duration-300 ease-in-out">
                        Players
                    </a>
                </li>
                <li>
                    <a href="{%url 'webapp:teams'%}" class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 text-white text-lg font-semibold shadow transition duration-300 ease-in-out">
                        Teams
                    </a>
                </li>
                <li>
                    <a href="{%url 'webapp:tournament' %}" class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 text-white text-lg font-semibold shadow transition duration-300 ease-in-out">
                        Tournaments
                    </a>
                </li>
                <li>
                    <a href="{%url 'webapp:beach_matches' %}" class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 text-white text-lg font-semibold shadow transition duration-300 ease-in-out">
                        Matches
                    </a>
                </li>
            </ul>
        </nav>
        
        
        
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Volleyball Applikation by Simon Löschke</p>
    </footer>
</body>
</html>
