{% load static %}
<!DOCTYPE html>
<!--Author: Simon Löschke-->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">



</head>
<body>
    <header>
        <nav class="text-lg align-middle">
            <ul class="flex flex-row">
                <li class="m-auto"><a href="{%url 'webapp:index'%}">Home</a></li>
                <li class="m-auto"><a href="{%url 'webapp:player' %}">Players</a></li>
                <li class="m-auto"><a href="{%url 'webapp:teams'%}">Teams</a></li>
                <li class="m-auto"><a href="#">Tournaments</a></li>
                <li class="m-auto"><a href="#">Events</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Volleyball Applikation by Simon Löschke</p>
    </footer>
</body>
</html>
