{% extends 'base.html' %}

{% block description %} Spielerübersicht {% endblock %}
{% block keywords %} Spieler, Player {% endblock %}

{%block title%} Spieler {% endblock %}

{% block content %}


    <header>
        <form method="get">
            <input type="text" name="name" placeholder="Name suchen">
            <select name="fedcode">
                <option value="">Federation Code auswählen</option>
                <!-- Hier Optionen für Länder einfügen -->
                {% for federation_code in fed %}
                    <option value="{{federation_code }}">{{federation_code }}</option>
                {% endfor %}
            </select>
            <button type="submit">Suchen</button>
        </form>
    </header>
 

    <main>
        {% for Player in page_obj %}
            <!-- Anzeige der Spieler-Informationen -->
            <p> {{ Player.first_name }},{{ Player.last_name }}, {{Player.team_name}} </p>
        {% endfor %}

        <!-- Paginierungs-Links -->
        <div>
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}&name={{ query_name }}&fedcode={{ query_fedcode }}">Vorherige</a>
          {% endif %}
          Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}&name={{ query_name }}&fedcode={{ query_fedcode }}">Nächste</a>
          {% endif %}
      </div>
      
    </main>


{% endblock %}
