{% extends 'base.html' %}

{% block description %} Spielerübersicht {% endblock %}
{% block keywords %} Spieler, Player {% endblock %}

{%block title%} Spieler {% endblock %}

{% block content %}


    <header>
        <form method="get">
            <input type="text" name="name" placeholder="Name suchen">
            <select name="fedcode">
                <option value="">Federation Code auswählen</option>
                <!-- Hier Optionen für Länder einfügen -->
                {% for federation_code in fed %}
                    <option value="{{federation_code }}">{{federation_code }}</option>
                {% endfor %}
            </select>
            <button type="submit">Suchen</button>
        </form>
    </header>
 

    
      <main class="container mx-auto p-4">
        <table class="min-w-full table-auto">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="px-4 py-2">Vorname</th>
                    <th class="px-4 py-2">Nachname</th>
                    <th class="px-4 py-2">Team</th>
                </tr>
            </thead>
            <tbody>
                {% for Player in page_obj %}
                <tr class="bg-white border-b">
                    <td class="px-4 py-2">{{ Player.first_name }}</td>
                    <td class="px-4 py-2">{{ Player.last_name }}</td>
                    <td class="px-4 py-2">{{ Player.team_name }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center py-4">Keine Spieler gefunden.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <!-- Paginierungs-Links -->
        <div>
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}&name={{ query_name }}&fedcode={{ query_fedcode }}">Vorherige</a>
          {% endif %}
          Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}&name={{ query_name }}&fedcode={{ query_fedcode }}">Nächste</a>
          {% endif %}
      </div>
    </main>
    
      
      
    


{% endblock %}
